<div id="super-div">
    <div>
        <mat-toolbar color="primary">
            <h1 id="mat-h1">Verification of Student Activity</h1>
        </mat-toolbar>
    </div>
    <div id="content">
        <mat-card>
            <form [formGroup]="hoursPerWeekForm">
                <div class="hours-per-week">
                    <div>Class Time</div>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="classTime">
                    </mat-form-field>
                </div>
                <div class="hours-per-week">
                    <div>Supervised Study Time</div>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="supervisedStudy">
                    </mat-form-field>
                </div>
                <div class="hours-per-week">
                    <div>Unsupervised Time</div>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="unsupervisedStudy">
                    </mat-form-field>
                </div>
                <div class="hours-per-week">
                    <div>Workstudy Time</div>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="workstudy">
                    </mat-form-field>
                </div>
                <div class="hours-per-week">
                    <div>Comm. Services Time</div>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="commService">
                    </mat-form-field>
                </div>
                <div class="hours-per-week">
                    <div>Workshop Time</div>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="workshops">
                    </mat-form-field>
                </div>
                <button (click)="calculateTotal()">Test</button>
            </form>
            <div>{{ totalHours }}</div>
        </mat-card>
    </div>
    <div>
        <supervised-study></supervised-study>
    </div>
    <online-class></online-class>
    <div>
        <class-schedule></class-schedule>
    </div>
</div>