<div id="super-div">
    <div>
        <mat-toolbar color="primary">
            <h1 id="mat-h1">Verification of Student Activity</h1>
        </mat-toolbar>
    </div>
    <div id="content">
        <mat-card>
            <div class="hour-per-week">
                <div class="label">Class Time</div>
                <div class="hours">
                    <mat-form-field>
                        <input matInput maxlength="10" placeholder="hrs/wk">
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
    </div>
</div>