<div class="super-div">
    <div>
        <mat-toolbar color="primary">
            <h1 class="mat-h1">Verification of Student Activity</h1>
        </mat-toolbar>
    </div>
    <div class="content" class="together">
        <mat-card>
            <form [formGroup]="hoursPerWeekForm">
                <div class="hours-per-week">
                    <mat-label>Class Time:  </mat-label>
                    <mat-form-field class="vsa-time">
                        <input matInput placeholder="hrs/wk" formControlName="classTime">
                    </mat-form-field>
                </div>
                <div class="hours-per-week">
                    <mat-label>Supervised Study Time:  </mat-label>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="supervisedStudy">
                    </mat-form-field>
                </div>
                <div class="hours-per-week">
                    <mat-label>Unsupervised Study:  </mat-label>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="unsupervisedStudy">
                    </mat-form-field>
                </div>
                <div class="hours-per-week">
                    <mat-label>Workstudy:  </mat-label>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="workstudy">
                    </mat-form-field>
                </div>
                <div class="hours-per-week">
                    <mat-label>Comm. Services:  </mat-label>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="commService">
                    </mat-form-field>
                </div>
                <div class="hours-per-week">
                    <mat-label>Workshop(s):  </mat-label>
                    <mat-form-field>
                        <input matInput placeholder="hrs/wk" formControlName="workshops">
                    </mat-form-field>
                </div>
                <div style="display: flex;">
                    <div style="flex: 1 1 auto;"></div>
                    <button mat-raised-button color="primary" (click)="calculateTotal()">Calculate Total</button>
                </div>
            </form>
            <mat-toolbar color="primary" class="hours-per-week total-toolbar">
                <mat-label class="total-label">Total: </mat-label>
                <mat-label class="total-label">{{ totalHours }}</mat-label>
            </mat-toolbar>
        </mat-card>
    </div>
    <div class="together">
        <supervised-study (totalHourEmit)="supervisedStudyEvent($event)"></supervised-study>
    </div>
    <div>
        <mat-card>
            <class-schedule (courseEvent)="updateClassSchedule($event)"></class-schedule>
        </mat-card>
    </div>
</div>