<mat-card>
    <table>
        <thead>
            <tr>
                <th colspan="4">Online Class Schedule</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="head">Course Name</th>
                <th class="head">Day(s)</th>
                <th class="head">Start Time</th>
                <th class="head">End Time</th>
            </tr>
            <tr>
                <td rowspan="2">
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td rowspan="2">
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td rowspan="2">
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td rowspan="2">
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td rowspan="2">
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>