<mat-card>
    <div>
        <form [formGroup]="studyTimeHoursForm">
            <table border='1'>
                <tr>
                    <th colspan="3" class="head">Supervised Study Time</th>
                </tr>
                <tr>
                    <th class="head">Day</th>
                    <th class="head">Start</th>
                    <th class="head">End</th>
                </tr>
                <tr *ngFor="let day of days">
                    <th class="head">{{day}}</th>
                    <td>
                        <div formGroupName="{{day}}">
                            <div formGroupName="start1">
                                <mat-form-field class="time-selector">
                                    <mat-select formControlName="time">
                                        <mat-option *ngFor="let time of times" [value]="time">
                                            {{time}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="period-selector">
                                    <mat-select formControlName="period">
                                        <mat-option *ngFor="let period of periods" [value]="period">
                                            {{period}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <br>
                            <div formGroupName="start2">
                                <mat-form-field class="time-selector bottom">
                                    <mat-select formControlName="time">
                                        <mat-option *ngFor="let time of times" [value]="time">
                                            {{time}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="period-selector bottom">
                                    <mat-select formControlName="period">
                                        <mat-option *ngFor="let period of periods" [value]="period">
                                            {{period}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div formGroupName="{{day}}">
                            <div formGroupName="end1">
                                <mat-form-field class="time-selector">
                                    <mat-select formControlName="time">
                                        <mat-option *ngFor="let time of times" [value]="time">
                                            {{time}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="period-selector">
                                    <mat-select formControlName="period">
                                        <mat-option *ngFor="let period of periods" [value]="period">
                                            {{period}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <br>
                            <div formGroupName="end2">
                                <mat-form-field class="time-selector bottom">
                                    <mat-select formControlName="time">
                                        <mat-option *ngFor="let time of times" [value]="time">
                                            {{time}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="period-selector bottom">
                                    <mat-select formControlName="period">
                                        <mat-option *ngFor="let period of periods" [value]="period">
                                            {{period}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div style="display: flex;">
                <div style="flex: 1 1 auto;"></div>
                <button mat-raised-button color="primary" (click)="calculateTotalStudy()">Update VSA</button>
            </div>
        </form>
    </div>
</mat-card>