<mat-card>
    <div>
        <table>
            <tr>
                <th colspan="2" class="head">Supervised Study Time</th>
            </tr>
            <tr>
                <th class="head">Day</th>
                <th class="head">Start</th>
                <th class="head">End</th>
            </tr>
            <tr>
                <th class="head">Monday</th>
                <td class="head">
                    <tr></tr>
                    <tr></tr>
                </td>
                <td class="head">

                        <tr></tr>
                        <tr></tr>
                </td>
            </tr>
            <tr>
                <th class="head">Tuesday</th>
                <td class="head">
                    <tr></tr>
                    <tr></tr>
                </td>
                <td class="head">

                        <tr></tr>
                        <tr></tr>
                </td>
            </tr>
            <tr>
                <th class="head">Wednesday</th>
                <td class="head">
                    <tr></tr>
                    <tr></tr>
                </td>
                <td class="head">

                        <tr></tr>
                        <tr></tr>
                </td>
            </tr>
            <tr>
                <th class="head">Thursday</th>
                <td class="head">
                    <tr></tr>
                    <tr></tr>
                </td>
                <td class="head">

                        <tr></tr>
                        <tr></tr>
                </td>
            </tr>
            <tr>
                <th class="head">Friday</th>
                <td class="head">
                    <tr></tr>
                    <tr></tr>
                </td>
                <td class="head">

                        <tr></tr>
                        <tr></tr>
                </td>
            </tr>
            <tr>
                <th class="head">Saturday</th>
                <td class="head">
                    <tr></tr>
                    <tr></tr>
                </td>
                <td class="head">

                        <tr></tr>
                        <tr></tr>
                </td>
            </tr>
            <tr>
                <th class="head">Sunday</th>
                <td class="head">
                    <tr></tr>
                    <tr></tr>
                </td>
                <td class="head">

                        <tr></tr>
                        <tr></tr>
                </td>
            </tr>
        </table>
    </div>
</mat-card>