.time-selector {
    max-width: 80px;
    display: inline-block;
}

.period-selector {
    max-width: 60px;
    display: inline-block;
}

mat-card {
    margin: 8px 16px;
    display: inline-block;
    text-align: left;
}

.head {
    min-width: 50px;
}

table {
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin: 16px 8px;
}

.fill-space {
    flex: 1 1 auto;
    display: flex;
}

.mat-h1 {
    text-align: left;
    padding: 28px 8px;
    font-size: 20px;
    padding-left: 20px;
    height: auto;
}

h1 {
    font-weight: 300;
}

mat-toolbar {
    padding-left: 20px;
    height: auto;
}

.content {
    min-width: 1080px;
    max-width: 1112px;
    margin-left: auto;
    margin-right: auto; 
}

.super-div {
    text-align: center;
}