.large-vertical-space {
    height: 200px;
}

.small-vertical-space {
    height: 50px;
}

.center-contents {
    text-align: center;
}

.label {
    font-weight: bolder;
    font-size: 16px;
    margin: 8px;
}

.time {
    max-width: 60px;
    display: inline-block;
}