<div id="super-div">
    <div >
        <mat-toolbar color="primary">
            <h1 id="mat-h1">Monthly Attendance Report Generator</h1>
        </mat-toolbar>
    </div>
    <div id="content">
        <div id="monthly">
            <mat-card>
                <mat-form-field id="month-year-header">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a month and year" [formControl]="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, picker)"
                        panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
                <div id="day-pop-up-notice">
                    <p>**If you were absent on any of the following days, by clicking on the day you can remove hours. Remember to remove hours for school holidays.</p>
                </div>
                <div class="center-content">
                    <table border="1">
                        <tr>
                            <th class="head">Day</th>
                            <th *ngFor='let day of daysRow1Head'>{{ day }}</th>
                        </tr>
                        <tr>
                            <th class="head">Hrs</th>
                            <td *ngFor='let day of days1; let i = index'>
                                <ng-template [ngIf]="day.totalString !== nil" [ngIfElse]="zero">
                                    <div (click)="openDay1(i)">{{ day.totalString }}</div>
                                </ng-template>
                                <ng-template #zero></ng-template>
                            </td>
                        </tr>
                        <tr>
                            <th class="head">Day</th>
                            <th *ngFor="let day of daysRow2Head">{{ day }}</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <th class="head">Hrs</th>
                            <td *ngFor='let day of days2; let i = index'>
                                <ng-template [ngIf]="day.totalString !== nil" [ngIfElse]="zero">
                                    <div (click)="openDay2(i)">{{ day.totalString }}</div>
                                </ng-template>
                                <ng-template #zero></ng-template>
                            </td>
                            <td>{{ totalString }}</td>
                        </tr>
                    </table>
                </div>
            </mat-card>
        </div>
        <div id="monthly-form">
            <mat-card> 
                <class-schedule (courseEvent)="updateClassSchedule($event)"></class-schedule>
            </mat-card>
        </div>
    </div>
</div>
