td {
    min-width: 60px;
    max-width: 80px;
    min-height: 40px;
}

tr {
    text-align: center;
}

td:hover {
    cursor: pointer;
}

#monthly {
    display: block;
}

#monthly-form {
    display: block;
    align-content: stretch;
    text-align: left;
}

#monthly-form mat-card {
    width: 1080px;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}

#day-pop-up-notice {
    font-size: 15px;
    color: #f44336;
}

#month-year-header input {
    font-size: 20px;
    font-weight: 300;
}