table {
    width: 100%;
}

#removeButton {
    padding: 0;
}

.class-schedule-search-bar{
    display: block;
    margin: 16px 8px;
}

button {
    margin: 16px 8px;
}

.class-schedule-search-bar mat-form-field {
    margin: 0px 8px;
}

.header {
    font-weight: 400;
    margin: 0px 8px;
}

.course-selector {
    max-width: 100px;
}

.course-search-form {
    display: inline-block;
}

.course-form-object {
    display: inline-block;
    position: relative;
    padding: 0px 8px;
}

.spinner-div {
    display: block;
    padding: 8px 16px;
    width: 100%;
    margin: auto;
}

mat-spinner {
    margin: auto;
}