table {
    width: 100%;
}

#removeButton {
    padding: 0;
}

.class-schedule-search-bar button {
    margin: 16px 8px;
}

.class-schedule-search-bar mat-form-field {
    margin: 0px 8px;
}

.header {
    font-weight: 400;
    margin: 0px 8px;
}